


:root {
    --primary-color: #27272a;
    --secondry-color: #a1a1aa;

}
body {
    margin: 0px;
    padding: 0px;
}


/* @containers */
.container{
    margin: 1rem;
    padding: 2rem;

}
.container h3{
    text-align: center;
}

.left-container{
    max-width: 30rem;
   
}

.center-container{
    margin: auto;
    max-width: 30rem;
   
}
.right-container{
    float: right;
    max-width: 30rem;
   
}
hr{
    clear: right;
    margin: 2rem 0rem;
}
h2{
    clear: right;
}


/* @links */
.links a{
    text-decoration: none;
    padding: 1rem;
    margin: 3rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    color: var(--secondry-color);
    border-radius: 1rem;
}
.link-secondry{
    border:2px solid var(--primary-color);
    border-radius: 1rem;
    color: var(--primary-color);
}

/* @Navigation */
.navigation{
    background-color: var(--secondry-color);
    padding: 3rem;
    border-top-left-radius: 2rem;
}
.logo{
   
    display: inline;
    
}
.logo a{
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;;
}
.navbar{
 
    display: inline;
    margin-left: 20rem;
    
}
.navbar li{
    list-style: none;
    display: inline;
}
.navbar li a{
    text-decoration: none;
    padding: 3rem;
    margin: 2rem;
    color: var(--primary-color);

}

/* @header */
img{
    display: block;
    border-radius: 50%;
    max-width: 20rem;
    margin: auto;
    
}
header h1{
    text-align: center;
    color: var(--primary-color);

}
header h1 span{
    color: var(--secondry-color);
}

/* @section */
.sections{
padding: 2rem;
    
}
.sections h2{
    text-align: center;
    
}
.ow{
    background-color: var(--secondry-color);
}
section .center{
      max-width: 600px;
      margin: auto;
}

/* @footer */
footer{
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondry-color);
    padding: 2rem;
    border-bottom-right-radius: 2rem;
}    

.footer .social-links{
list-style: none;
display: inline;
padding: 2rem;
cursor: pointer;
}